# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

backend/rest/client
backend/rest/cmd
backend/rest/models
backend/rest/restapi/operations
backend/rest/restapi/doc.go
backend/rest/restapi/embedded_spec.go
backend/rest/restapi/server.go
