# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

rest/client
rest/cmd
rest/models
rest/restapi/operations
rest/restapi/doc.go
rest/restapi/embedded_spec.go
rest/restapi/server.go
